body {
    background-color: rgb(24, 26, 27);
    color: rgb(232, 230, 227);
    margin-left: 20px;
}

.chat {
    background-color: rgb(28, 31, 32);
}

.msg {
    border: 1px solid rgb(48, 50, 50);
    border-radius: 5px;
}

